body {
    background-color: #ffffff;
    width: 170px;
}

span {
    margin: 0 auto;
    color: #32383f;
    font-size: 14px;
    height: 20px;
    line-height: 20px;
    font-weight: 500;
    font-family: Avenir Next, sans-serif, Arial, Helvetica;
}

.label {
    font-weight: 700;
    font-size: 17px;
    color: #335577;
}